* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fbf8fb;
}

.nav-bar{
    background-color: #ffc400;
    text-align: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.titulo {
    padding: 20px;
    font-size: 40px;
    font-weight: 600;
}

#blog {
    color: white;
}

.links {
    background-color: #ffc400;
    padding-bottom: 25px;
}

.links a {
    text-decoration: none;
    font-weight: 600;
    margin: 0 15px;
}

.links a:link {
    color: white;
}

.links a:visited {
    color: white;
}

.links a:hover {
    color: black;
    transition: color 0.3s ease;
}

#all-content {
    margin: 0 auto;
}

.post-text {
    position: relative; 
    margin: 0px 30px 0px 10px;
    padding: 10px;
    text-indent: 20px;
}

.post_1 {   
    position: relative;
    background-color: white;
    width: 50%;
    padding: 10px;
    margin: 25px auto 25px 200px;
    float: left;
}

.legenda {
    position: relative; 
    bottom: 13px;
    margin: 10px;
    padding: 0px 0px 0px 10px;
}

.post_1 h3 {
    color:#ffc400;
    font-size: 25px;
    margin: 10px;
    padding: 10px 0px 0px 10px;
}

.post_1 img {
    max-width: 90%;
    height: auto;
    margin: 10px;
    padding: 0px 0px 0px 10px;
}

.recent-posts {
    float: right;
    position: relative;
    background-color: white;
    width: 20%;
    height: 20%;
    margin-top: 25px;
    margin-right: 150px;
    border-radius: 7px;
}

.catalog {
    clear: right;
    float: right;
    position: relative;
    background-color: white;
    width: 20%;
    height: 20%;
    margin-top: 25px;
    margin-right: 150px;
    border-radius: 7px;
}

.catalog div {
    margin: 2px 10px 0px 0px;
    padding: 0px;
}

.catalog div:last-child {
    margin: 2px 10px 10px 0px;
    padding: 0px;
}

.catalog h3 {
    margin: 0px 10px 5px 10px;
    padding: 10px 10px 0px 10px;
}

.catalog a {
    text-decoration: none;
    font-weight: 600;
    margin: 10px;
    padding: 10px;
}

.catalog a:link {
    color: #ffc400;
    margin: 10px;
    padding: 10px;
}

.catalog a:visited {
    color: #ffc400;
    margin: 10px;
    padding: 10px;
}

.catalog a:hover {
    color: black;
    transition: color 0.3s ease;
    margin: 10px;
    padding: 10px;
}

.recent-posts h3 {
    margin: 0px 10px;
    padding: 10px 10px 0px 10px;
}

.recent-posts p {
    margin: 0px 10px;
    padding: 10px 10px 0px 10px;
}

.recent-posts hr {
    margin: 5px 15px;
    opacity: 25%;
    border-top: 1px;
}

.read-more {
    color: #ffc400;
    margin: 0px 10px;
    padding: 0px 10px 10px 10px;
}

#rights {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    clear: both;
}